
.categories {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 50%;
    height:100%;
    float: right;
    
}
.block1 {
    background-color: darkblue;
    display: flex;
    color:white;
    justify-content:right;
    width:100%;
    height:100%;
    font-size:25px;
    font-weight: bold;
}
.block2 {
    background-color: darkblue;
    display: flex;
    justify-content:right;
    color:white;
    width: 100%;
    height:100%;
    font-size:25px;
    font-weight: bold;
}
.block3 {
    background-color: darkblue;
    display: flex;
    color:white;
    justify-content: right;
    width: 100%;
    height:100%;
    font-size:25px;
    font-weight: bold;
}
.block4 {
    background-color: darkblue;
    display: flex;
    color:white;
    justify-content: right;
    width: 100%;
    height:100%;
    font-size:25px;
    font-weight: bold;
}
.profile {
    background-color: white;
    display: flex;
    color:white;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    float: left;
    width: 50%;
    height: 100%;
}
.column1 {
    background-color: black;
    display: flex;
    color:white;
    justify-content: right;
    width: 100%;
    height:300px;
    font-size:25px;
    font-weight: bold;
}
.column2 {
    background-color: black;
    display: flex;
    color:white;
    justify-content: right;
    width: 100%;
    height:100%;
    font-size:25px;
    font-weight: bold;
}
.column3 {
    background-color: black;
    display: flex;
    color:white;
    justify-content: right;
    width: 100%;
    height:100%;
    font-size:25px;
    font-weight: bold;
}
.column4 {
    background-color: black;
    display: flex;
    color:white;
    justify-content: right;
    width: 100%;
    height:200%;
    font-size:25px;
    font-weight: bold;
}